<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Cargar Fuentes -->
    <link rel="stylesheet" href="../fonts/fontawesome-free-6.1.2-web/css/all.min.css">  <!--Iconos Biblioteca-->
    <link rel="stylesheet" href="../fonts/dmsans/dmsans.css">  <!--Esto es para la fuente de letra que esta descargada y tuve que hacer un style con un @font-face Pero estoy usando una de google font que import-->

    <!--Cargar Estilos-->
    <link rel="stylesheet" href="../css/reset.css"> <!--Reset por defecto-->
    <link rel="stylesheet" href="../css/BarraNavegacion.css">



     <!--Cargar script-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>RRHH</title>

    <style>
        /* Estilos personalizados para el scroll */
        .custom-scrollbar::-webkit-scrollbar {
            width: 8px;
            height: 8px;
        }
        .custom-scrollbar::-webkit-scrollbar-thumb {
            background-color: rgba(4, 66, 45, 0.5);
            border-radius: 4px;
        }
        .custom-scrollbar::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.1);
        }
    </style>
    
</head>
<body >

    <!--MENU Este no se activara hasta no activar el servidor----------------------------------------------------------------------------------------------->
        <section id="NAVEGACION"></section>

        <section id="HomeSesionPrincipal">
            

            <!-----RRHH--------------Estadistica------------------------------------------------------------------------------>
                <section class="mb-8">
                    <h2 class="text-4xl font-bold text-center p-7">MODULOS DE ASISTENCIAS</h2>
                    <div class="asistencias  flex flex-col items-center space-y-4 h-auto w-2xs p-6">
                        <div class="asisEmpleados w-full md:w-3/4 bg-gray-100 py-6 border-8 overflow-x-auto custom-scrollbar">
                            <h3 class="text-4xl font-bold m-7">Asistencias Generales</h3> <!--AQUI VAN DE MAS RECIENTES-->
                            <table class="w-full bg-gray-100 border-4 py-10">
                                <thead class="bg-gray-800 text-grey">
                                    <tr class="bg-blue-300 p-5 border-b-2">
                                        <th class="px-5 py-2">
                                            <select type="fecha" id="" placeholder="Fecha" class=""> 
                                                <option value="1">Enero</option>
                                                <option value="1">Febrero</option>
                                            </select>
                                        </th>
                                        <th class="py-4 px-10">Hora de Entrada</th>
                                        <th class="py-4 px-10">Hora de salida</th>
                                        <th class="py-4 px-10">Nombre</th>
                                        <th class="py-4 px-10">Cargo</th>
                                        <th class="py-4 px-10">Cedula</th>
                                        <th class="py-4 px-10">Correo</th>
                                        <th class="py-4 px-10">ID</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-700 text-center">
                                    <tr class="bg-white border-b">
                                        <td class="py-2 px-4">2025-09-15</td>
                                        <td class="py-2 px-4">8:00 am</td>
                                        <td class="py-2 px-4">3:00 pm</td>
                                        <td class="py-2 px-4">Stiven</td>
                                        <td class="py-2 px-4">Recursos Humanos</td>
                                        <td class="py-2 px-4">29098876</td>
                                        <td class="py-2 px-4">1234@gmail.com</td>
                                        <td class="py-2 px-4">1</td>
                                    </tr>
                            </table>
                        </div>
                        <div class="asisEmpleadosUSUARIOS  w-full md:w-3/4 bg-gray-100 py-6 border-8 overflow-x-auto custom-scrollbar">
                            <h3 class="text-4xl font-bold m-7">Asistencias Generales</h3> <!--AQUI VAN DE MAS RECIENTES-->
                            <table class="w-full bg-gray-100 border-4 py-10">
                                <thead class="bg-gray-800 text-grey">
                                    <tr class="bg-blue-300 p-5 border-b-2">
                                        <th class="px-5 py-2">
                                            <select type="fecha" id="" placeholder="Fecha" class=""> 
                                                <option value="1">Enero</option>
                                                <option value="1">Febrero</option>
                                            </select>
                                        </th>
                                        <th class="py-4 px-10">Hora de Entrada</th>
                                        <th class="py-4 px-10">Hora de salida</th>
                                        <th class="py-4 px-10">Nombre</th>
                                        <th class="py-4 px-10">Cargo</th>
                                        <th class="py-4 px-10">Cedula</th>
                                        <th class="py-4 px-10">Correo</th>
                                        <th class="py-4 px-10">ID</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-700 text-center">
                                    <tr class="bg-white border-b">
                                        <td class="py-2 px-4">2025-09-15</td>
                                        <td class="py-2 px-4">8:00 am</td>
                                        <td class="py-2 px-4">3:00 pm</td>
                                        <td class="py-2 px-4">Stiven</td>
                                        <td class="py-2 px-4">Recursos Humanos</td>
                                        <td class="py-2 px-4">29098876</td>
                                        <td class="py-2 px-4">1234@gmail.com</td>
                                        <td class="py-2 px-4">1</td>
                                    </tr>
                            </table>
                        </div>
                        <div class="asisEmpleadosAdmin  w-full md:w-3/4 bg-gray-100 py-6 border-8 overflow-x-auto custom-scrollbar">
                            <h3 class="text-4xl font-bold m-7">Asistencias Generales</h3> <!--AQUI VAN DE MAS RECIENTES-->
                            <table class="w-full bg-gray-100 border-4 py-10">
                                <thead class="bg-gray-800 text-grey">
                                    <tr class="bg-blue-300 p-5 border-b-2">
                                        <th class="px-5 py-2">
                                            <select type="fecha" id="" placeholder="Fecha" class=""> 
                                                <option value="1">Enero</option>
                                                <option value="1">Febrero</option>
                                            </select>
                                        </th>
                                        <th class="py-4 px-10">Hora de Entrada</th>
                                        <th class="py-4 px-10">Hora de salida</th>
                                        <th class="py-4 px-10">Nombre</th>
                                        <th class="py-4 px-10">Cargo</th>
                                        <th class="py-4 px-10">Cedula</th>
                                        <th class="py-4 px-10">Correo</th>
                                        <th class="py-4 px-10">ID</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-700 text-center">
                                    <tr class="bg-white border-b">
                                        <td class="py-2 px-4">2025-09-15</td>
                                        <td class="py-2 px-4">8:00 am</td>
                                        <td class="py-2 px-4">3:00 pm</td>
                                        <td class="py-2 px-4">Stiven</td>
                                        <td class="py-2 px-4">Recursos Humanos</td>
                                        <td class="py-2 px-4">29098876</td>
                                        <td class="py-2 px-4">1234@gmail.com</td>
                                        <td class="py-2 px-4">1</td>
                                    </tr>
                            </table>
                        </div>
                        <div class="asisEmpleadosRRHH  w-full md:w-3/4 bg-gray-100 py-6 border-8 overflow-x-auto custom-scrollbar">
                            <h3 class="text-4xl font-bold m-7">Asistencias Generales</h3> <!--AQUI VAN DE MAS RECIENTES-->
                            <table class="w-full bg-gray-100 border-4 py-10">
                                <thead class="bg-gray-800 text-grey">
                                    <tr class="bg-blue-300 p-5 border-b-2">
                                        <th class="px-5 py-2">
                                            <select type="fecha" id="" placeholder="Fecha" class=""> 
                                                <option value="1">Enero</option>
                                                <option value="1">Febrero</option>
                                            </select>
                                        </th>
                                        <th class="py-4 px-10">Hora de Entrada</th>
                                        <th class="py-4 px-10">Hora de salida</th>
                                        <th class="py-4 px-10">Nombre</th>
                                        <th class="py-4 px-10">Cargo</th>
                                        <th class="py-4 px-10">Cedula</th>
                                        <th class="py-4 px-10">Correo</th>
                                        <th class="py-4 px-10">ID</th>
                                    </tr>
                                </thead>
                                <tbody class="text-gray-700 text-center">
                                    <tr class="bg-white border-b">
                                        <td class="py-2 px-4">2025-09-15</td>
                                        <td class="py-2 px-4">8:00 am</td>
                                        <td class="py-2 px-4">3:00 pm</td>
                                        <td class="py-2 px-4">Stiven</td>
                                        <td class="py-2 px-4">Recursos Humanos</td>
                                        <td class="py-2 px-4">29098876</td>
                                        <td class="py-2 px-4">1234@gmail.com</td>
                                        <td class="py-2 px-4">1</td>
                                    </tr>
                            </table>
                        </div>
                    </div>

                    <div class="seguimiento flex flex-col items-center p-7 space-y-4 h-auto w-2xs">
                        <div class="w-full md:w-3/4 bg-gray-100 py-6 border-8 overflow-x-auto custom-scrollbar">
                            <h3 class="font-semibold text-center p-6 text-3xl">Cuadro de Seguimiento</h3>
                            <table class="min-w-full rounded-lg">
                                <thead>
                                    <tr class="bg-blue-300 p-5">
                                        <th class="py-4 px-10">fecha</th>
                                        <th class="py-4 px-10">Hora de Entrada</th>
                                        <th class="py-4 px-10">Hora de salida</th>
                                        <th class="py-4 px-10">Nombre</th>
                                        <th class="py-4 px-10">Cargo</th>
                                        <th class="py-4 px-10">Cedula</th>
                                        <th class="py-4 px-10">Correo</th>
                                        <th class="py-4 px-10">ID</th>
                                    </tr>
                                </thead>
                                <tbody class="text-grey-400 text-center">
                                    <tr class="bg-white border-b">
                                        <td class="py-2 px-4">2025-09-15</td>
                                        <td class="py-2 px-4">8:00 am</td>
                                        <td class="py-2 px-4">3:00 pm</td>
                                        <td class="py-2 px-4">Stiven</td>
                                        <td class="py-2 px-4">Recursos Humanos</td>
                                        <td class="py-2 px-4">29098876</td>
                                        <td class="py-2 px-4">1234@gmail.com</td>
                                        <td class="py-2 px-4">1</td>
                                    </tr>
                                    <tr class="bg-white border-b">
                                        <td class="py-2 px-4">2025-09-15</td>
                                        <td class="py-2 px-4">8:00 am</td>
                                        <td class="py-2 px-4">3:00 pm</td>
                                        <td class="py-2 px-4">Stiven</td>
                                        <td class="py-2 px-4">Recursos Humanos</td>
                                        <td class="py-2 px-4">29098876</td>
                                        <td class="py-2 px-4">1234@gmail.com</td>
                                        <td class="py-2 px-4">1</td>
                                    </tr>
                                    <tr class="bg-white border-b">
                                        <td class="py-2 px-4">2025-09-15</td>
                                        <td class="py-2 px-4">8:00 am</td>
                                        <td class="py-2 px-4">3:00 pm</td>
                                        <td class="py-2 px-4">Stiven</td>
                                        <td class="py-2 px-4">Recursos Humanos</td>
                                        <td class="py-2 px-4">29098876</td>
                                        <td class="py-2 px-4">1234@gmail.com</td>
                                        <td class="py-2 px-4">1</td>
                                    </tr>
                                    <tr class="bg-white border-b">
                                        <td class="py-2 px-4">2025-09-15</td>
                                        <td class="py-2 px-4">8:00 am</td>
                                        <td class="py-2 px-4">3:00 pm</td>
                                        <td class="py-2 px-4">Stiven</td>
                                        <td class="py-2 px-4">Recursos Humanos</td>
                                        <td class="py-2 px-4">29098876</td>
                                        <td class="py-2 px-4">1234@gmail.com</td>
                                        <td class="py-2 px-4">1</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="reportesRRHH flex flex-col p-10">
                        <h3 class="text-4xl font-bold text-center p-10">REPORTES Recibidos</h3>
                      
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 p-4">
                            
                            <!-- Listado de cuadros con PDFs -->
                            <article class="bg-gray-100 p-4">Cuadro PDF 1 2024</article>
                            <article class="bg-gray-100 p-4">Cuadro PDF 2025</article>
                            <article class="bg-gray-100 p-4">Cuadro PDF 2026</article>
                            <article class="bg-gray-100 p-4">Cuadro PDF 2027</article>
                        </div>
                    </div>

                    <div class="flujoPersonasGraficos p-10">
                        <h3 class="text-4xl font-bold text-center p-10">Flujo de Personas - Gráficos</h3>
                        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
                            <div class="bg-gray-100 p-4">Gráfico de Bloques</div>
                            <div class="bg-gray-100 p-4">Gráfico Redondo</div>
                            <div class="bg-gray-100 p-4">Gráfico de Líneas</div>
                        </div>
                        <div class="bg-gray-100 p-8 mt-4">Estadisticas</div>
                    </div>
                </section>


       



    <script src="../components/HomeSesionPrincipal.js"></script>
   
    <script src="../components/nav.js"></script>
    <!--Para exportarlo se usa el type:"module"-->
    
</body>
</html>